    body{
      height:100vh;
      width:100vw;
      margin:0;
      overflow:auto;
      background-color:#000000;
    }

    #world{
      height:60vmin;
      width:60vmin;
      background-color:#ffffff;
      position: absolute;
      top:calc(50vh - 30vmin - 10vh);
      left:calc(50vw - 30vmin);
    }

    .cell{
      height:1%;
      width:1%;
      background-color:#ffffff;
    }

    p{
      font-size: 15vmin;
      line-height: 0.2;
      color:RGBA(35,35,35,0.2);
      font-family: "微軟正黑體", sans-serif;
      font-weight: lighter;
      text-align: center;
      user-select: none;
    }

    a{
      color:#04c852;
      font-family: "微軟正黑體", sans-serif;
      font-weight: lighter;
      text-align: center;
    }

    footer{
      background-color:#000000;
      margin:0;
      height:7vh;
      width:100vw;
      position: absolute;
      top:calc(100vh - 7vh);
      left:0;
    }

    footer div{
      float:left;
      margin:0;
      height:100%;
      width:50%;
      top:0;
      left:0;
    }

    footer p{
      font-size: 3.5vh;
      position: static;
      color:#04c852;
      text-shadow:0 0 0.2vw #ffffff;
      text-shadow:0 0 0.5vw #ffffff;
      text-shadow:0 0 0.2vw #04c852;
      text-shadow:0 0 0.5vw #04c852;
      text-shadow:0 0 0.7vw #04c852;
      text-shadow:0 0 1.0vw #04c852;
      text-shadow:0 0 1.2vw #04c852;
      text-shadow:0 0 1.5vw #04c852;
      text-shadow:0 0 1.7vw #04c852;
      text-shadow:0 0 2.0vw #04c852;
    }

    footer a.twitter{
      color:#1da1f2;
      text-shadow:0 0 0.2vw #ffffff;
      text-shadow:0 0 0.5vw #ffffff;
      text-shadow:0 0 0.2vw #1da1f2;
      text-shadow:0 0 0.5vw #1da1f2;
      text-shadow:0 0 0.7vw #1da1f2;
      text-shadow:0 0 1.0vw #1da1f2;
      text-shadow:0 0 1.2vw #1da1f2;
      text-shadow:0 0 1.5vw #1da1f2;
      text-shadow:0 0 1.7vw #1da1f2;
      text-shadow:0 0 2.0vw #1da1f2;
    }

    footer a.FB{
      color:#1876f2;
      text-shadow:0 0 0.2vw #ffffff;
      text-shadow:0 0 0.5vw #ffffff;
      text-shadow:0 0 0.2vw #1876f2;
      text-shadow:0 0 0.5vw #1876f2;
      text-shadow:0 0 0.7vw #1876f2;
      text-shadow:0 0 1.0vw #1876f2;
      text-shadow:0 0 1.2vw #1876f2;
      text-shadow:0 0 1.5vw #1876f2;
      text-shadow:0 0 1.7vw #1876f2;
      text-shadow:0 0 2.0vw #1876f2;
    }
